body {
  background-image: url("bg.jpg");
}
h1 {
  text-align: center;
  color: white;
}

form {
  box-sizing: border-box;
  background-color: white;
  position: inherit;
  width: 50vw;
  height: 75vh;
  margin: 200px;
  border-radius: 15px;
  margin: 50px;
  padding: 25px;
}
div {
  align-content: center;
}
input,
textarea {
  display: block;
  align-items: center;
}

div a input {
  display: inline-block;
}
.button {
  background-color: lightsalmon;
}
