/** {
  min-width: 100vw;
  max-width: 500vh;
}*/
body {
  background-color: teal;
}

main {
  box-sizing: border-box;
  background-color: thistle;
  border: 5px dashed white;
  border-radius: 5px;
  margin: 45px;
  padding: 25px;
  min-width: 70vw;
  max-width: 100vw;
  /*align-self: center;*/
}
img.avatar-image {
  border-radius: 55%;
}
img.social {
  width: 3vw;
  height: 5vh;
}

hr {
  background-color: black;
  align-items: center;
  width: 65vw;
  height: 5px;
}
section.top > div,
section.footer > div {
  display: inline-block;
}
.avatar {
  border-spacing: 0px;
}
div .title {
  /*padding-left: 0px;
  margin-left: 0px;*/
  float: right;
  /*vertical-align: 15px;*/
}
h3 {
  color: teal;
  font-weight: bolder;
  font: outline;
  font-size: 25px;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
p.slackid {
  margin-top: 0px;
  padding-top: 0px;
  align-content: flex-start;
}
div.follow > a {
  padding: 5px;
  margin: 0px 10px;
}
